.App {
  background-color: rgb(245, 221, 11);
}

.loadingMessage {
  background-color: rgb(245, 221, 11);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
}
